{% extends 'admin1.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <br><br><br>
      <div class="card-title"></div>
    </div>
    <div class="card-body">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        {% for i in data2 %}
        <tbody>
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.message}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
